@import 'bootstrap/scss/bootstrap.scss';

body{
  background-color: #282c34;
  color: #f8f8ff;
}

.card, .modal{
  color: #212529;
}

.game-card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  perspective: 1000px;
  transition: all 0.5s ease-out; 
  transform-style: preserve-3d;
}

.game-card-inner{
  transition: all 0.5s ease-in-out; 
  transform-style: preserve-3d;
}

.game-card-face, .game-card-back {
  backface-visibility: hidden;
}

.game-card-back{
  position: absolute;
  left: 0;
  transform: rotateY(180deg);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 42%;
  width: 16%;
  height: 16%;
  border-radius: 50%;
  background: $warning;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 10%;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 10%;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 42%;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 74%;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}
